{
  "env": {
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },

  "extends": [
    "airbnb"
  ],

  "rules": {
    "max-len": ["error", { "code": 100 }],
    "no-console": "off"
  },

  "plugins": ["import"],

  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"]
    }
  ]
}
